/*region Slide quest puzzle */

.slide-quest-puzzle {
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-items: center;
}

/*endregion*/


/*region Slide quest rules */

.slide-quest-rules {
    grid-column: 1;

    font-family: var(--font), sans-serif;
    
    padding: 1rem;
    box-sizing: border-box;
}

.slide-quest-rules__title {
    font-family: var(--font-bold), sans-serif;
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.slide-quest-rules__title-spacer {
    margin-top: 2.5rem;
}


.slide-quest-rules-commands {
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    font-size: 1.8rem;
}

.sqrc--1,
.sqrc--2,
.sqrc--3 {
    font-family: var(--font-bold), sans-serif;
    font-size: 1.9rem;
}

.sqrc--1 {
    color: var(--color-sqrc-1);
}

.sqrc--2 {
    color: var(--color-sqrc-2);
}

.sqrc--3 {
    color: var(--color-sqrc-3);
}

/*endregion*/


/*region Slide quest game */

.slide-quest-game {
    grid-column: 2;

    padding: 1rem;
    box-sizing: border-box;
}


.slide-quest-game-grid-container {
    width: var(--grid-size, 800px);
    height: var(--grid-size, 800px);
    
    display: grid;
    place-items: center;
}


.slide-quest-game-grid-legend {
    width: 100%;
    
    font-family: var(--font), sans-serif;
    font-size: 1.4rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    margin-top: 1em;
}


.grid-cell-legend {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.grid-cell-legend__icon {
    width: 16px;
    height: 16px;

    display: inline-block;

    border: 1px solid #333;
}


.slide-quest-game-grid {
    --cell: calc(var(--grid-size, 800px) / max(var(--grid-width), var(--grid-height)));

    width: calc(var(--cell) * var(--grid-width));
    height: calc(var(--cell) * var(--grid-height));
    
    display: grid;
    grid-template-columns: repeat(var(--grid-width), var(--cell));
    grid-auto-rows: var(--cell);
    gap: 0;
}


.grid-cell {
    position: relative;
}

.grid-cell-player { background: var(--color-primary) }
.grid-cell-start { background: #ffcc00; }
.grid-cell-end { background: #ff6666; }
.grid-cell-obstacle { background: #444; }
.grid-cell-ice { background: #dff3ff; }
.grid-cell-path { background: #7fd48a; }

/*endregion*/






.moves { margin-top: 1rem; font-family: JetBrains Mono, Consolas, monospace; }
